body {
	font-family: Montserrat;
	color: #555555;
}

.title {
	font-family: Cinzel;
	color: black !important;
}

.nav-item:hover {
	cursor: pointer;
	color: #000000;
}

a {
	color: #555555;
}

a:hover {
	color: #000000;
}

.background {
	background-color: #FFFFFF;
}

.thumbnail {
	padding-left: 0px;
	padding-right: 0px;
}

#social-navigation-bar {
	padding-top: 10px;
	padding-bottom: 20px;
	opacity: 80%;
}

.social-media-icon {
	height: 20px;
}

.youtube-icon {
	height: 30px;
}

.aboutPageBody {
	text-align: center;
}

.aboutPageText {
	text-align: center;
}

.aboutPagePhoto {
	width: 200px;
	margin: auto;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.image:hover .overlay {
  cursor: pointer;
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}








/* Style the Image Used to Trigger the Modal */
/*
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.5;
}*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-image {
  margin: auto;
  display: block;
  border-radius: 0px;
  height: 90%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
