body {
	font-family: 'Chonburi', sans-serif !important;
}

.title {
	text-align: center;
	font-size: 30px;
	margin-bottom: 10px;
}

.tab {
	text-align: center;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tab:hover {
	color: #BBBBBB;
}

.background {
	background-color: #EEEEEE;
}

.thumbnail {
	padding-left: 0px;
	padding-right: 0px;
}
