body {
	font-family: 'Chonburi', sans-serif !important;
}

.title {
	text-align: center;
	font-size: 60px;
}

.tab {
	text-align: center;
	padding: 10px;
}

.tab:hover {
	background-color: #BBBBBB;
}

.background {
	background-color: #EEEEEE;
}
